 /* tenemos selectores: de Etiqueta (h1 por ej)  - ID (#identificador)- Clases (.nombreClase) */

        /*Ejemplo de selector de etiqueta; propiedad: valor;*/ 
body{
    font-family: 'Baloo Tamma 2', cursive;
}
.destacado{
    /*propiedades y valores de esa clase*/
    background-blend-mode: soft-light;
    background-color: rgba(195, 162, 233, 0.671);
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; /*medida absoluta*/ 
    font-style: oblique;
    font-weight: bold;
    line-height: 30pt; 
     }
   
       /* ejemplo fondo
        width: 100%;
        height: 200px;
        background-color: rgb(214, 146, 115);
    }*/
    .imagen{
        background-image: url("../assets/img/ramascielo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        width: 100%;
    }

#parrafo2{
    background-blend-mode: soft-light;
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
p.masVistas{
    font-size: 30px;
    background-blend-mode: soft-light;
    background-color: rgba(194, 160, 221, 0);
    color: black;
    text-align: justify;
}

.listado{
    text-align: left;
    
}
ul.destacado     li{
    background-color: rgba(255, 182, 193, 0);
    list-style-type: square; block-size: 20px;
    font-style: oblique;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}